.box{
    height: 312px;
    width:312px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    background-color: #878787;
    margin: 100px auto;
}
.square{
    height: 100px;
    width: 100px;
    background-color: dimgrey;
    -webkit-text-fill-color: aliceblue;
    border: 0;
    margin: 2px;
    font-size: 30px;
}
.square:disabled,
square[disabled]{
    height: 100px;
    width: 100px;
    background-color: #878787;
    -webkit-text-fill-color: aliceblue;
    border: 0;
    margin: 2px;
    font-size: 30px ;
    -webkit-text-fill-color: #878787
}